<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{{url_for('static', filename='js/home.js')}}"></script>

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="container">
    <div class="row top-buffer">
        <div class="col-sm">
        </div>
    </div>
    <div class="container py-5">
        <form action="/recommendations" method="POST" id="recoForm" class="bg-white shadow-sm rounded-3 p-4">
            <h3 class="text-center mb-4">Get Your Fashion Recommendations</h3>
            
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="culture" name="culture" placeholder="Culture">
                        <label for="culture">Culture</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="city" name="city" placeholder="City">
                            <label for="city">City</label>
                        </div>
                        <button type="button" class="btn btn-outline-primary" id="location" title="Get Current Location">
                            <i class="fas fa-location-dot"></i> Get current location
                        </button>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select" id="gender" name="gender">
                            <option value="" selected disabled>Select gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <label for="gender">Gender</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select" id="ageGroup" name="ageGroup">
                            <option value="Kids">Kids</option>
                            <option value="Teenagers">Teenagers</option>
                            <option value="Adults">Adults</option>
                        </select>
                        <label for="ageGroup">Age Group</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="occasion" name="occasion" placeholder="Occasion">
                        <label for="occasion">Occasion</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="datetime-local" class="form-control" id="dateTime" name="dateTime">
                        <label for="dateTime">Date and Time</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title mb-3">Upload Your Style Inspiration</h6>
                            <div class="input-group">
                                <input type="file" class="form-control" id="clothing-image" name="clothingImage" accept="image/*">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center mt-4">
                    <button type="submit" id="go" name="go" class="btn btn-primary btn-lg px-5 rounded-pill">
                        Get Suggestions
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row top-buffer">
        <div class="col-12">
            <div align="center" id="center" style="display:none">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}