.logo-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo-container img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Increase the max-height for larger images */
    object-fit: contain;
    transition: transform 0.3s ease;
}

.logo-container:hover img {
    transform: scale(1.1);
}

.logo-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
}

.logo-container:hover .overlay {
    opacity: 1;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    font-weight: bold;
}

.catchy-text {
    text-align: center;
    margin: 10px 0 30px 0; /* Add more space below the catchy text */
    font-size: 1.2em;
    color: #555;
}

.nav-button {
    display: inline-block;
    margin: 20px 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.nav-button:hover {
    background-color: #0056b3;
}

.navigation-buttons {
    text-align: center;
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";



.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-subtitle {
  font-size: 100px;
}


.page-title {
    font-size: 2.5em;
    color: #111;
}




.text span {
  font-size: 60px;
  display: inline-block;
  text-align: center;
  width: 60px;
  text-transform: uppercase;
  position: relative;
  color: #111;
  z-index: 5;
}

.text span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(255, 208, 0);
  z-index: -1;
  box-shadow: 0 5px 5px #111;
}

.text:hover span::before {
  animation: fillBg 1s ease forwards;
  animation-delay: calc(100ms * var(--i));
}

.paletteContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.paletteBlock {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 12px;
  font-weight: bold;
}


@keyframes fillBg {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
    transform: rotate(calc(15deg * var(--i)));
  }
}
